#d2 {
    height: 100%;
    font: 400 25px/1.8 "Lato", sans-serif;
  }
  .bgimg-1, .bgimg-2, .bgimg-3,.bgimg-4,.bgimg-5,.bgimg-6,.bgimg-7,.bgimg-8 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  .bgimg-1 {
    background-image: url("images/css1/img1.webp");
    min-height: 1900px;
  }
  
  .bgimg-2 {
    background-image: url("images/css1/img2.webp");
    min-height: 1000px;
  }
  
  .bgimg-3 {
    background-image: url("images/css1/img3.webp");
    min-height: 1500px;
  }
  .bgimg-4 {
    background-image: url("images/css1/img4.webp");
    min-height: 1500px;
  }
  .bgimg-5 {
    background-image: url("images/css1/img5.webp");
    min-height: 1500px;
  }
  .bgimg-6 {
    background-image: url("images/css1/img6.webp");
    min-height: 3000px;
  }
  .bgimg-7 {
    background-image: url("images/css1/img7.webp");
    min-height: 1500px;
  }
  .bgimg-8 {
    background-image: url("images/css1/img8.webp");
    min-height: 2100px;
  }
  
  .caption {
    position: absolute;
    left: 0;
    top: 20px;
    width: 100%;
    text-align: center;
    color: white;
  }
  
  .caption span.border {
    font-size: 20px;
    letter-spacing: 3px;
  }
#logo{
    height: 50px;
    width: 	50px;
   vertical-align: middle;
}

#FBimg{
    height: auto;
    width: 30px;
    vertical-align: text-top;
}
#instaimg{
    height: auto;
    width: 30px;
    vertical-align: text-top;
}

.mainnav {
    position: sticky;
    top: auto;
}


.mainnav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly; 
    background-color: silver; 
}
.mainnav li {
    width: 100%;
}


.mainnav a {
    
    max-height: 30px;
    line-height: 30px;
    text-decoration: none;
    display: block;
    color: black;
   
}

#navt{
    padding-left: 1rem;
}

header,footer{
    background-color: silver;
}

#d1{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#search{
    width: 50%;
    border: black 0.1rem solid;
}

.f1{
    text-align: center;
}

#tt{
    text-align: center;
    text-shadow: 2px 2px 5px green;
}

#d4{
    text-align: center;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }
  .collapsible:after {
    content: '\02795'; 
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; 
  }

  .content a{
      color: black;
  }

a{
    color: black;
}
#top {
    display: none; 
    position: fixed; 
    bottom: 40px; 
    right: 20px; 
    z-index: 99; 
    border: none;
    outline: none;
    background-color: #444; 
    color: black; 
    cursor: pointer; 
    padding: 7px; 
    border-radius: 10px;
    font-size: 18px; 
  }
  .s12{
    padding-left: 1rem;
}
#d4{
    text-align: center;
}
#msl{
    width: 50%;
    height: 20rem;
}
  @media screen 
  and (max-device-width: 1024px) 
   { 
    #d3{
        display: none;
    }
     
    }

    @media screen and (min-width: 1024px) {
        #top{
            padding: 15px;
        }
        #search{
            height: 2rem;
            width: 30%;
            text-align: center;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
            font-size: large;
        }
        #search:focus {
            width: 70%;
          }
        #submit{
             height: 2rem;
             width: 3rem;
        }
        body{
            font-size: large;
        }
        #logo{
            height: 7rem;
            width: 	7rem;
        }
        #t{
            font-size: x-large;
        }
        #email{
            width: 15rem;
        }
        #d3{
            display: grid;
            grid-template-columns: repeat(4,auto);
            justify-content: space-around;
        }
        #d6{
            display: none;
        }
        .mainnav ul{
            display: grid;
            grid-template-columns: repeat(5,20%);
            font-size: larger;
            text-align: center;
        }
        .mainnav a{
            max-height: 50px;
            line-height: 50px;
        }
    
        .mainnav li:hover{
            background-color: #E4E4E4;
        }
        
        a{
            text-decoration: none;
        }
        #msl{
            width: 100px;
            height: 100px;
            transition: width 2s, height 2s, transform 2s;
        }
        
        #msl:hover {
            width: 22%;
            height: 27rem;
  }
  .bgimg-1 {
    min-height: 500px;
  }
  
  .bgimg-2 {
    min-height: 500px;
  }
  
  .bgimg-3 {
    min-height: 500px;
  }
  .bgimg-4 {
    min-height: 500px;
  }
  .bgimg-5 {
    min-height: 500px;
  }
  .bgimg-6 {
    min-height: 700px;
  }
  .bgimg-7 {
    min-height: 500px;
  }
  .bgimg-8 {
    min-height: 600px;
  }
    }